
 <script type="text/javascript">
   
  var tid = setInterval( function () {
    if ( document.readyState !== 'complete' ) return;
    else
    {
       if(window.location.pathname!="/manage")
    window.location.pathname="/manage";
    clearInterval( tid );       
   
}
}, 100 );
  
  </script>

<form novalidate class="css-form"><table width="100%" border="0" cellspacing="0" cellpadding="0" id="tablecreate" style="margin-top:2em;">
  <tr>
    <td colspan="2" align="center"><h6>Cost of utilities</h6><h5>detail</h5></td>
    </tr>
    <tr>
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  <tr>
    <td width="30%" align="right"><h6>Water bills :</h6></td>
    <td><input  type="text" size="20" maxlength="100" placeholder="per unit" ng-model="cost_of_uti.water_bills" required/></td>
  </tr>
  <tr>
    <td align="right"><h6>Vat :</h6></td>
    <td valign="middle">
      <input type="radio" ng-model="cost_of_uti.rdo_wat_vat" value="rdo_include_water_vat"> <p>No</p>
      <input type="radio" ng-model="cost_of_uti.rdo_wat_vat" value="rdo_notinclude_water_vat">
      <p>Yes :</p><input type="text" ng-model="cost_of_uti.wat_vat" required placeholder="0"></td>
  </tr>
  <tr>
    <td align="right"></td>
    <td align="left" valign="top"><input ng-model="cost_of_uti.chk_min"  type="checkbox" value="" checked>
            <p>1.1 Minimum Bills</p></td>
  </tr>
  <tr>
    <td align="right"></td>
    <td align="left" valign="top"><p>minimum : </p>      <input ng-model="cost_of_uti.min_wat_bill" required type="text" placeholder="unit"></td>
    </tr>
  <tr>
    <td align="right"></td>
    <td align="left" valign="top"><p>pay : </p>      <input  type="text" ng-model="cost_of_uti.min_wat_bill_pay" required placeholder="baht"></td>
    </tr>
  <tr>
    <td align="right"></td>
    <td align="left" valign="top"><input ng-model="cost_of_uti.wat_pack" required type="checkbox" value="">
<p>1.2 Package</p></td>
    </tr>
  <tr>
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  <tr>
    <td width="30%" align="right"><h6>Energy bills :</h6></td>
    <td><input type="text" size="20"  placeholder="per unit" ng-model="cost_of_uti.ener_bill" required /></td>
  </tr>
  <tr>
    <td width="30%" align="right"><h6>Vat :</h6></td>
    <td><input type="radio" ng-model="cost_of_uti.ener_bill_no_vat" required value="rdo_include_energy_vat"> <p>No</p>
      <input type="radio" ng-model="cost_of_uti.ener_bill_vat" required value="rdo_notinclude_energy_vat">
      <p>Yes :</p><input type="text" ng-model="cost_of_uti.ener_vat" required placeholder="0"></td>
  </tr>
   <tr>
    <td align="right"></td>
    <td align="left" valign="top"><input ng-model="cost_of_uti.ener_min_bill" required type="checkbox" value="" checked>
            <p>1.1 Minimum Bills</p></td>
  </tr>
  <tr>
    <td align="right"></td>
    <td align="left" valign="top"><p>minimum : </p>      <input type="text" ng-model="cost_of_uti.ener_min_unit" required placeholder="unit"></td>
    </tr>
  <tr>
    <td align="right"></td>
    <td align="left" valign="top"><p>pay : </p><input  type="text" ng-model="cost_of_uti.ener_min_unit_pay" required placeholder="baht"></td>
    </tr>
  <tr>
    <td align="right"></td>
    <td align="left" valign="top"><input ng-model="cost_of_uti.ener_pack" required type="checkbox" value="">
<p>1.2 Package</p></td>
    </tr>
    <tr>
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
    <tr>
    <td width="30%" align="right"><h6>Telephone Vat :</h6></td>
    <td><input type="radio" ng-model="cost_of_uti.phone_vat"  value="rdo_include_tel_vat"> <p>No</p>
      <input type="radio" ng-model="cost_of_uti.phone_vat" value="rdo_notinclude_tel_vat">
      <p>Yes :</p><input type="text" ng-model="cost_of_uti.phone_vat_pay" required placeholder="0"></td>
  </tr>
  <tr>
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  <tr>
    
     <td colspan="2" align="center"><button ng-click="back()">Back</button><button ng-click="next()">Next</button>
        </td>
  </tr>
  
</table></form>