@import "bourbon/bourbon";
@import "neat/neat";
$large-screen:512px;
$layout-top-height:10em;
$layout-bot-height:auto;
$default-line:#79BD9A;
$main_font:THSarabunNew;
$link-color:#3B8686;
//----------------------------------------------------------------------------------------------------------
	html, body{
			  font-family:$main_font;
		
		}
		a:link {color: $link-color;
  text-decoration:none;}      
a:visited {color: $link-color;
  text-decoration:none;}  
a:hover {
	-webkit-transition:all linear 0.5s;
    transition:all linear 0.5s; 
	color: $link-color;
  text-decoration:none;}  
a:active {color: $link-color;
  text-decoration:none;}
.outer-container{
	@include media($large-screen) {
		@include outer-container;
		margin-top: 1em;
		}

		
	background-color:#FFF;
	
			.layout-left-top{
				@include media($large-screen) {
				@include span-columns(4);
				height: $layout-top-height;
				margin: 0 1em 1em 0;
				}
				margin: 0 0 1em 0;			
				height: auto;

				p{
					@include media($large-screen) {
						font-size: 1em;
						padding: 0.5em ;
						margin: 0em;
					}
						font-size: 2em;
						padding: 0.5em ;
						margin: 0em;
				}
				li{
					@include media($large-screen) {
						font-size: 0.8em;
						padding: 0.5em 0.5em 0em 0.5em;
						margin: 0em;
					}
						font-size: 3em;
						padding: 0em 0.5em 0em 0.5em;
						margin: 0em;
				}

				.logo_top{
					@include media($large-screen) {
					@include span-columns(6);
					height: 100%;
					}
					
					background-color:#FFF;
					height: 100%;
					img {
						@include media($large-screen) {
							width: 80%;
							height: auto;
							margin: 10%;
						}
							width: 30%;
							height: auto;
							margin: 0.5em 35% 0.5em 35%;
					}
				}

				.logo_content{
					@include media($large-screen) {
					@include span-columns(6);
					height: 100%;
					border: 1px dotted $default-line;
					border-radius: 5px;
					}
					
					background-color:#FFF;
					height: 100%;
					border: 1px dotted $default-line;
					border-radius: 5px;
				}
			}
			.layout-right-top{
				@include media($large-screen) {
				@include span-columns(8);
				//@include omega();
				height: $layout-top-height;
				margin: 0 0 1em 0;
				}
				margin: 0 0 1em 0;
				height: auto;
				background-color:#F2F2F2;
				border: 1px dotted $default-line;
				border-radius: 5px;

				p.notification_head{
					@include media($large-screen) {
						font-size: 1em;
						padding: 0.5em 0.5em 0 0.5em ;
						margin: 0em;
					}
						font-size: 2em;
						padding: 0.5em 0.5em 0 0.5em ;
						margin: 0em;
				}
				p.content_notification{
						@extend p.notification_head;
						padding: 0em 0.5em 0em 0.5em ;
						
					}


				.notification_left{
					@include media($large-screen) {
					@include span-columns(6);
					height: ($layout-top-height)-3em;
					overflow: auto;
					margin: 0em;
					border-bottom:0px;
					}
					border-bottom:1px dotted $default-line;
					height: auto;

				}
				.notification_right{
					@extend .notification_left;
					border-bottom:0px;
				}
			}
			.layout-left-bot{
				@include media($large-screen) {
				@include span-columns(2);
				margin: 0 1em 1em 0;
				
				}

				margin: 0 0em 1em 0;
				height: $layout-bot-height;
				background-color:#F2F2F2;
				border: 1px dotted $default-line;
					border-radius: 5px;
				
				p.main_menu_head{
					display:block; 
					text-align:center;
					border-bottom: 1px dotted $default-line;
					@include media($large-screen) {
						font-size: 1em;
						padding: 0.5em ;
						margin: 0em;
					}
						font-size: 3em;
						padding: 0.5em ;
						margin: 0em;

				}

				a.main_menu_left{
					@include media($large-screen) {
						display: block;
						font-size: 1em;
						padding: 0.1em 0.5em 0.1em 0.5em ;
						margin: 0em;
						//border-right:0px;
					}
					display: inline;
					font-size: 2em;
						padding: 0.5em ;
						margin: 0em;
						
					&:hover{
						color: transparentize(red, 0);
						
					}
				}

				}
			.layout-right-bot{
				@include media($large-screen) {
				@include span-columns(10);
				@include omega();
				margin: 0 0em 1em 0;
				}
				margin: 0 0em 1em 0;
				height: $layout-bot-height;
				background-color:#F2F2F2;
				border: 1px dotted $default-line;
					border-radius: 5px;
				p{
					@include media($large-screen) {
						font-size: 1em;
						padding: 0.5em ;
						margin: 0em;
					}
						font-size: 2em;
						padding: 0.5em ;
						margin: 0em;
				}
				p.main_menu_head{
					display:block; 
					text-align:center;
					border-bottom: 1px dotted $default-line;
					@include media($large-screen) {
						font-size: 1em;
						padding: 0.5em ;
						margin: 0em;
					}
						font-size: 3em;
						padding: 0.5em ;
						margin: 0em;

				}
				.main_content_head{
					text-align: center;
					min-height: 2em;
					width: 100%;
					border-bottom: 1px dotted $default-line;

				}
			}
	
}





//----------------------------------------------------------------------------------------------------------