@import "bourbon/bourbon";
@import "neat/neat";
$base-border-color:#79BD9A;
$base-line-height:2em;
$base-body-color:#FFF;
$medium-gray: #000;
$base-accent-color:#212;
$breadcrumb-color:#331;
$base-border-radius:5px;
$default-line:#79BD9A;
$large-screen:1024px;
//---------------------------------------------------------------------------------------------------------
.tbr_customers{
width:98%;
height:auto;
margin: 0 1% 1em 1%;
border:1px solid transparentize($default-line,0.5);
border-bottom:0px;
border-right:0px;
tr td{
	border-bottom:1px solid transparentize($default-line,0.5);
	border-right:1px solid transparentize($default-line,0.5);
}

}
//----------------------------------------------------------------------------------------------------------