@import "bourbon/bourbon";
@import "neat/neat";
$default-line:#79BD9A;
$large-screen:1024px;
//---------------------------------------------------------------------------------------------------------
.pin_rooms{
width:14%;
height:auto;
 display: inline-block;
 border:1px solid $default-line;
 margin:12px;
 border-radius:5px;
 white-space:normal;
 background-color:#FFF;
 opacity:0.5;
  img{
    width: 100%;
    height: auto;
  }

  &:hover{
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s; 
    opacity:1;
  }
}
input#search {
            margin: 0.5em;
            border-radius: 4px;
            color: #000;
            width: 50%;
            height: 2em;
            vertical-align: middle;
              
            }
//----------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------