<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>

<form action="http://image2.niyay.com/upload" method="post">
  <p>
    <input name="" type="file" />
  </p>
  <p>
    <input type="submit" name="btn_submit" id="btn_submit" value="Submit" />
  </p>
</form>
</body>
</html>
