* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pin_rooms {
  width: 14%;
  height: auto;
  display: inline-block;
  border: 1px solid #79bd9a;
  margin: 12px;
  border-radius: 5px;
  white-space: normal;
  background-color: #FFF;
  opacity: 0.5; }
  .pin_rooms img {
    width: 100%;
    height: auto; }
  .pin_rooms:hover {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    opacity: 1; }

input#search {
  margin: 0.5em;
  border-radius: 4px;
  color: #000;
  width: 50%;
  height: 2em;
  vertical-align: middle; }
