 <script type="text/javascript">   
  var tid = setInterval( function () {
    if ( document.readyState !== 'complete' ) return;
    else
    {
       if(window.location.pathname!="/manage")
    window.location.pathname="/manage";
    clearInterval( tid );       
   
}
}, 100 );
  
  </script><div class="main_content">
<div class="main_content_head"><a href="/public_information">Public information</a></div>
<div class="main_content_inner1"><form novalidate class="css-form"><table width="100%" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td width="30%" align="right">Head banner : </td>
    <td width="70%">
      <input type="file" name="up_head_banner" id="up_head_banner" /></td>
  </tr>
  <tr>
    <td align="right">Apartment Detail : </td>
    <td><textarea  rows="6" ng-model="pub_info.aprt_detail" required ></textarea>
    </td>
  </tr>
  <tr>
    <td align="right">Custom link : </td>
    <td><div ng-repeat="item in items1">
        <input type="text" placeholder="{{item.num}}" ng-model="pub_info.part_link_name">
     
      </div>
      <button ng-click="add1()">New Item</button></td>
  </tr>
  <tr>
    <td>4</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>5</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>6</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>7</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>8</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>9</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>10</td>
    <td>&nbsp;</td>
  </tr>
</table>
</form></div>
</div>