 <script type="text/javascript">   
  var tid = setInterval( function () {
    if ( document.readyState !== 'complete' ) return;
    else
    {
       if(window.location.pathname!="/manage")
    window.location.pathname="/manage";
    clearInterval( tid );       
   
}
}, 100 );
  
  </script><div class="main_content">
  <div class="main_content_head"><a href="/common_receipt_export">Export (per month)</a> | <a href="/common_receipt_export_day">Export (per Day)</a> | <a href="/common_information">Receipt information</a> | <a href="/common_information_other">Other</a></div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="20%" align="right"><p id="roommg_head">Receipt search</p></td>
        <td width="60%" align="left"><input type="text" id="search" ng-model="search" class="search-query"  name="txt_search" placeholder=""></td>
        <td width="20%" align="right">
        </td>
      </tr>
    </table>
<div class="main_content_inner1" style="margin:0em;">
  <table class="tbr_customers" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="5%" align="center">No.</td>
      <td width="15%" align="center" ><span style="text-align:center;">Receipt no.</span></td>
      <td width="10%" align="center" style="text-align:center;">Building</td>
      <td width="10%" align="center" style="text-align:center;"> Room</td>
      <td width="20%"align="center" style="text-align:center;">Name</td>
      <td width="15%"align="center" style="text-align:center;">Date</td>
      <td width="15%"align="center" style="text-align:center;">amount</td>
      <td width="15%" align="center" style="text-align:center;">Tools</td>
    </tr>
    <tr>
      <td align="center"><p>1</p></td>
      <td align="center"><p>Rec-00001
        Inv-00001</p></td>
      <td align="center"><p>Building1</p></td>
      <td align="center"><p>543</p></td>
      <td align="center"><p>นายจ่าย แล้ว <br />
      </p></td>
      <td align="center"><p>13/06/57</p></td>
      <td align="center"><p>1000</p></td>
      <td align="center"><p><img src="image/icon/print.png" width="50%" title="ออกใบเสร็จ"/></p></td>
    </tr>
    <tr>
      <td align="center"><p>2</p></td>
      <td align="center"><p>Rec-00001
        Inv-00001</p></td>
      <td align="center"><p>Building1</p></td>
      <td align="center"><p>543</p></td>
      <td align="center"><p>นายจ่าย แล้ว <br />
      </p></td>
      <td align="center"><p>13/06/57</p></td>
      <td align="center"><p>250</p></td>
      <td align="center"><p><img src="image/icon/print.png" width="50%" title="ออกใบเสร็จ"/></p></td>
    </tr>
    <tr>
      <td align="center"><p>3</p></td>
      <td align="center"><p>Rec-00001
        Inv-00001</p></td>
      <td align="center"><p>Building1</p></td>
      <td align="center"><p>543</p></td>
      <td align="center"><p>นายจ่าย แล้ว <br />
      </p></td>
      <td align="center"><p>13/06/57</p></td>
      <td align="center"><p>600</p></td>
      <td align="center"><p><img src="image/icon/print.png" width="50%" title="ออกใบเสร็จ"/></p></td>
    </tr>
    <tr>
      <td align="center"><p>4</p></td>
      <td align="center"><p>Rec-00001
        Inv-00001</p></td>
      <td align="center"><p>Building1</p></td>
      <td align="center"><p>543</p></td>
      <td align="center"><p>นายจ่าย แล้ว <br />
      </p></td>
      <td align="center"><p>13/06/57</p></td>
      <td align="center"><p>300</p></td>
      <td align="center"><p><img src="image/icon/print.png" width="50%" title="ออกใบเสร็จ"/></p></td>
    </tr>
  </table>
</div>
</div>