 <script type="text/javascript">   
  var tid = setInterval( function () {
    if ( document.readyState !== 'complete' ) return;
    else
    {
       if(window.location.pathname!="/manage")
    window.location.pathname="/manage";
    clearInterval( tid );       
   
}
}, 100 );
  
  </script><div class="main_content">
   <div class="main_content_head"><a href="/common_receipt_export">Export (per month)</a> | <a href="/common_receipt_export_day">Export (per Day)</a> | <a href="/common_information">Receipt information</a> | <a href="/common_information_other">Other</a></div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="20%" align="right"><p id="roommg_head">Receipt search</p></td>
        <td width="60%" align="left"><input type="text" id="search" ng-model="search" class="search-query"  name="txt_search" placeholder=""></td>
        <td width="20%" align="right">
        </td>
      </tr>
    </table>
<div class="main_content_inner1" style="margin:0em;">
  <table class="tbr_customers" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="10%" align="center">Status.</td>
      <td width="10%" align="center" >Building</td>
      <td width="10%" align="center" style="text-align:center;">room no..</td>
      <td width="60%" align="center" style="text-align:center;">name</td>
      <td width="10%" align="center" style="text-align:center;">Tools</td>
    </tr>
    <tr>
      <td align="center"><p><img src="image/icon/enter.png" width="50%" /></p></td>
      <td align="center"><p>Building1</p></td>
      <td align="center"><p>543</p></td>
      <td align="left"><p>ก.ไก่</p></td>
      <td align="center"><p><img src="image/icon/print.png" width="50%" title="ออกใบเสร็จ"/></p></td>
      
    </tr>
    <tr>
      <td align="center"><p><img src="image/icon/exit.png" width="50%" /></p></td>
      <td align="center"><p>Building1</p></td>
      <td align="center"><p>544</p></td>
      <td align="left"><p>ข.ไข่</p></td>
      <td align="center"><p><img src="image/icon/print.png" width="50%" title="ออกใบเสร็จ"/></p></td>
     
    </tr>
    <tr>
      <td align="center"><p><img src="image/icon/exit.png" width="50%" /></p></td>
      <td align="center"><p>Building1</p></td>
      <td align="center"><p>545</p></td>
      <td align="left"><p>ค.ไค่</p></td>
      <td align="center"><p><img src="image/icon/print.png" width="50%" title="ออกใบเสร็จ"/></p></td>
     
    </tr>
    <tr>
      <td height="19" align="center"><p><img src="image/icon/exit.png" width="50%" /></p></td>
      <td align="center"><p>Building1</p></td>
      <td align="center"><p>546</p></td>
      <td align="left"><p>ง.ไง่</p></td>
      <td align="center"><p><img src="image/icon/print.png" width="50%" title="ออกใบเสร็จ"/></p></td>
     
    </tr>
  </table>
</div>
</div>