<script type="text/javascript">   
  var tid = setInterval( function () {
    if ( document.readyState !== 'complete' ) return;
    else
    {
       if(window.location.pathname!="/manage")
    window.location.pathname="/manage";
    clearInterval( tid );       
   
}
}, 100 );
  
  </script>
<div class="main_content">
  <div class="main_content_head"><a href="/customers">View Customer</a> | <a href="/customers_checkout">Checkout user</a> | <a href="/customers_vehicle">Customers vehicle</a> | <a href="/customers_vehicle_checkout">Customers vehicle checkout</a> | <a href="/customers_keycard">customers_keycard</a></div>
  <div class="main_content_inner1">
    <p id="roommg_head">Rooms search
      <input type="text" id="search" ng-model="search" class="search-query"  name="txt_search" placeholder="">
      <br />
      <input type="checkbox" name="ch_customer" ng-model="search" id="ch_customer" ng-true-value="yes" ng-false-value=""/>
      <label for="ch_customer">Customers</label>
      <input type="checkbox" ng-model="search"  name="ch_chackout_customer" ng-true-value="no" ng-false-value="" id="ch_chackout_customer" />
      <label for="ch_chackout_customer">Checkout customers</label>
    </p>
    <table class="tbr_customers" width="100%" border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <td width="5%" align="center">No.</td>
          <td width="10%" align="center" >Building</td>
          <td width="10%" align="center" style="text-align:center;">Room</td>
          <td width="35%" style="text-align:center;">Detail</td>
          <td width="10%" style="text-align:center;">Co</td>
          <td width="10%" style="text-align:center;">Vehicle</td>
          <td width="10%" style="text-align:center;">Key</td>
          <td width="10%" style="text-align:center;">Scan</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td align="center">1</td>
          <td align="center">อาคาร1</td>
          <td align="center">543</td>
          <td>นาย ฟหกด</td>
          <td align="center" valign="middle"><div class="modal">
              <label for="modal-1">
              <div class="btn js-btn"><img src="image/icon/users.png" /></div>
              </label>
              <input class="modal-state" id="modal-1" type="checkbox" />
              <div class="modal-window">
                <div class="modal-inner">
                  <label class="modal-close" for="modal-1"></label>
                  <h1>ผู้พักร่วม</h1>
                  <p class="intro">ห้อง543</p>
                  <p class="body">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  <table width="100%" height="auto" border="0" cellspacing="0" cellpadding="0" class="tbr_inbox">
                    <tr>
                      <td align="right">Name : </td>
                      <td><input type="text" />
                        </td>
                    <tr>
                      <td align="right">Tel : </td>
                      <td><input type="text" /></td>
                    </tr>
                    <tr>
                      <td align="right">Picture : </td>
                      <td><input type="file" /></td>
                    </tr>
                    <tr>
                      <td align="right"></td>
                      <td><button>Add</button></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div></td>
          <td align="center" valign="middle"><div class="modal">
              <label for="modal-12">
              <div class="btn js-btn"><img src="image/icon/truck.png" /></div>
              </label>
              <input class="modal-state" id="modal-12" type="checkbox" />
              <div class="modal-window">
                <div class="modal-inner">
                  <label class="modal-close" for="modal-12"></label>
                  <h1>ยานพาหะนะ</h1>
                  <p class="intro">ห้อง543</p>
                 <p class="body">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  <table width="100%" height="auto" border="0" cellspacing="0" cellpadding="0" class="tbr_inbox">
                    <tr>
                      <td align="right">กท : </td>
                      <td><input type="text" />
                        </td>
                    <tr>
                      <td align="right">color : </td>
                      <td><input type="text" /></td>
                    </tr>
                    <tr>
                      <td align="right">Pic : </td>
                      <td><input type="file" /></td>
                    </tr>
                    <tr>
                      <td align="right"></td>
                      <td><button>Add</button></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div></td>
          <td align="center" valign="middle"><div class="modal">
              <label for="modal-13">
              <div class="btn js-btn"><img src="image/icon/key2.png" /></div>
              </label>
              <input class="modal-state" id="modal-13" type="checkbox" />
              <div class="modal-window">
                <div class="modal-inner">
                  <label class="modal-close" for="modal-13"></label>
                  <h1>คีย์การ์ด</h1>
                  <p class="intro">ห้อง543</p>
                  <p class="body">รหัส คีย์การ์ด <br />
                    <table width="100%" height="auto" border="0" cellspacing="0" cellpadding="0" class="tbr_inbox">
                    <tr>
                      <td align="right">Key code : </td>
                      <td><input type="text" /><button>Add</button>
                        </td>
                    </tr>
                  </table>
                  </p>
                </div>
              </div>
            </div></td>
          <td align="center" valign="middle"><div class="modal">
              <label for="modal-14">
              <div class="btn js-btn"><img src="image/icon/stack.png" /></div>
              </label>
              <input class="modal-state" id="modal-14" type="checkbox" />
              <div class="modal-window">
                <div class="modal-inner">
                  <label class="modal-close" for="modal-14"></label>
                  <h1>ไฟล์แสกน</h1>
                  <p class="intro">ห้อง543</p>
                  <p class="body">Download Sacn File <br />
                    Download Charter Files</p>
                </div>
              </div>
            </div></td>
        </tr>
        <tr>
          <td align="center">2</td>
          <td align="center">อาคาร1</td>
          <td align="center">544</td>
          <td>นาย ่าสว</td>
          <td align="center" valign="middle"><div class="modal">
              <label for="modal-2">
              <div class="btn js-btn"><img src="image/icon/users.png" /></div>
              </label>
              <input class="modal-state" id="modal-2" type="checkbox" />
              <div class="modal-window">
                <div class="modal-inner">
                  <label class="modal-close" for="modal-2"></label>
                  <h1>ผู้พักร่วม</h1>
                  <p class="intro">ห้อง 544</p>
                  <p class="body">นาย 123 ปลาฉลามขึ้นบก <br />
                    เพิ่มผู้พักร่วม
                    <table width="100%" height="auto" border="0" cellspacing="0" cellpadding="0" class="tbr_inbox">
                    <tr>
                      <td align="right">Name : </td>
                      <td><input type="text" />
                        </td>
                    <tr>
                      <td align="right">Tel : </td>
                      <td><input type="text" /></td>
                    </tr>
                    <tr>
                      <td align="right">Picture : </td>
                      <td><input type="file" /></td>
                    </tr>
                    <tr>
                      <td align="right"></td>
                      <td><button>Add</button></td>
                    </tr>
                  </table>
                  </p>
                </div>
              </div>
            </div></td>
          <td align="center" valign="middle"><div class="modal">
              <label for="modal-22">
              <div class="btn js-btn"><img src="image/icon/truck.png" /></div>
              </label>
              <input class="modal-state" id="modal-22" type="checkbox" />
              <div class="modal-window">
                <div class="modal-inner">
                  <label class="modal-close" for="modal-22"></label>
                  <h1>ยานพาหะนะ</h1>
                  <p class="intro">ห้อง544</p>
                  <p class="body">ทะเบียน กท-8888 <br />
                    เพิ่มยานพาหะนะ
                    <table width="100%" height="auto" border="0" cellspacing="0" cellpadding="0" class="tbr_inbox">
                    <tr>
                      <td align="right">กท : </td>
                      <td><input type="text" />
                        </td>
                    <tr>
                      <td align="right">color : </td>
                      <td><input type="text" /></td>
                    </tr>
                    <tr>
                      <td align="right">Pic : </td>
                      <td><input type="file" /></td>
                    </tr>
                    <tr>
                      <td align="right"></td>
                      <td><button>Add</button></td>
                    </tr>
                  </table>
                  </p>
                </div>
              </div>
            </div></td>
          <td align="center" valign="middle"><div class="modal">
              <label for="modal-23">
              <div class="btn js-btn"><img src="image/icon/key2.png" /></div>
              </label>
              <input class="modal-state" id="modal-23" type="checkbox" />
              <div class="modal-window">
                <div class="modal-inner">
                  <label class="modal-close" for="modal-23"></label>
                  <h1>คีย์การ์ด</h1>
                  <p class="intro">ห้อง544</p>
                  <p class="body">รหัส คีย์การ์ด <br />
                    เพิ่มรหัสคีย์การ์ด
                    <table width="100%" height="auto" border="0" cellspacing="0" cellpadding="0" class="tbr_inbox">
                    <tr>
                      <td align="right">Key code : </td>
                      <td><input type="text" /><button>Add</button>
                        </td>
                    </tr>
                  </table>
                  </p>
                </div>
              </div>
            </div></td>
          <td align="center" valign="middle"><div class="modal">
              <label for="modal-44">
              <div class="btn js-btn"><img src="image/icon/stack.png" /></div>
              </label>
              <input class="modal-state" id="modal-44" type="checkbox" />
              <div class="modal-window">
                <div class="modal-inner">
                  <label class="modal-close" for="modal-44"></label>
                  <h1>ไฟล์แสกน</h1>
                  <p class="intro">ห้อง544</p>
                  <p class="body">Download Sacn File <br />
                    Download Charter Files</p>
                </div>
              </div>
            </div></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
