
<div class="footer">
<div class="footer_inner">
<div class="footer_box1">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="24%" rowspan="5" align="center" valign="middle"><img src="css/image/icon/flaticon_33622.png" /></td>
    <td width="76%"><p class="head_content_footer">
Contact me:</p></td>
  </tr>
  <tr>
    <td><p class="content">
58/4xx </p></td>
  </tr>
  <tr>
    <td><p class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></td>
  </tr>
  <tr>
    <td><p class="content">Tel. : 089-xxx-xxxx</p></td>
  </tr>
  <tr>
    <td><p class="content">Fax. : 02-xxx-xxxx</p></td>
  </tr>
  </table>

</div>
<div class="footer_box2">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="24%" align="center" valign="middle"><img src="image/icon/12168.png" /></td>
      <td width="76%"><div class="footer_menu">
      <p class="head_content_footer">Menu</p>
      <a href="/homes">Home</a><br />
    <a href="/aboutme">About me</a><br />
    <a href="/contactme">Contact me</a><br />
    <a href="/faq">FAQ</a><br />
    <a href="/login">Login</a><br /></div></td>
    </tr>
    </table>
</div>
</div>
</div>

