<div class="login_bar"><a class="right_position" href="/login">Login</a></div>
<div class="header_box_search" >
    <div class="outer_box_search">
    <h4 class="first">world</h4>
    <h4 class="mid">Resident</h4>
    <h4 class="end">.net</h4>
  </div>
    <div class="inner_box_search">
    <div style="vertical-align:top">
        <input type="text" id="txtsearch" ng-model="search" class="search-query"  name="txt_search" placeholder="">
      </div>
  </div>
    <div class="search_bottom_position"> <a class="bottom_right_position" href="/homes">Home |</a><a class="bottom_right_position" href="/contactme">Contact |</a><a class="bottom_right_position" href="/aboutme">About |</a><a class="bottom_right_position" href="/faq">FAQ |</a> </div>
  </div>