
<hello-html></hello-html>

<search-box></search-box>
<!--<div class="header_box_search">
  <div class="outer_box_search">
    <h4 class="first">world</h4>
    <h4 class="mid">Resident</h4>
    <h4 class="end">.net</h4>
  </div>
  <div class="inner_box_search">
    <div >
      <input type="text" id="txtsearch" ng-model="search" class="search-query"  name="txt_search" placeholder="">
    </div>
  </div>
  <div class="search_bottom_position"> 
    <a class="bottom_right_position" href="#!/homes">Home |</a><a class="bottom_right_position" href="#!/contactme">Contact |</a><a class="bottom_right_position" href="#!/aboutme">About |</a><a class="bottom_right_position" href="#!/faq">FAQ |</a>
    <a class="bottom_right_position" target="_blank" href="#!/first_step_zero">first_step |</a>
    <a class="bottom_right_position" target="_blank" href="#!/manage">manage |</a> 
  </div>
</div>
-->

<div class="main_content">
 
<div class="main_content_inner1">
    <div id="wrapper" >
   <p id="apartment_txt_head">Apartment search <span ng-bind="search"></span></p>
      <div id="columns">
      
      <div class="pin" ng-repeat="nlist in lists.list | filter:search">
			<img src={{nlist.images[8]}} />
			<p>
				{{nlist.title}}
			</p>
		</div><!--{{nlist.detail}}--></div>
    </div>
</div>
</div>