<div class="main_content">
  <div class="main_content_inner1">
  <p id="apartment_txt_head">
      Apartment search <span ng-bind="search"></span>
      </p>
      <div class="home--map__content" ng-controller="mapCtrl">
        <div id="map-canvas"></div>
      </div>
      <div class="home--aprt__content">
      	<div class="home--aprt__content--block">
        	<img class="home--aprt__content--block--img__pin" src="image/sdw.jpg" />
        	<p class="home--aprt__content--block--head__pin">Apartment</p>
        </div>
        <div class="home--aprt__content--block">test2</div>
        <div class="home--aprt__content--block">tes3</div>
        <div class="home--aprt__content--block">test4</div>
        <div class="home--aprt__content--block">test5</div>
        <div class="home--aprt__content--block">test6</div>
      </div>
      <div class="home--aprt__ads">test2</div>
    <div id="wrapper">
      <div id="columns">
        <div class="pin" ng-repeat="nlist in lists.list | filter:search">
        <img src={{nlist.images[8]}} />
        <p> {{nlist.title}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
