<div class="login_bar"><a class="right_position" ng-click="displayCheckBox=!displayCheckBox">Login</a><div ng-show="displayCheckBox" class="login_fm animate-if"><form><input type="text" ng-model="login.username" required placeholder="Username :">
      <input type="password" ng-model="login.password" required placeholder="Password :">
      <button type="submit" ng-click="login(login.username,login.password);">Login</button></form><a class="right_position_link">Forget?</a>
      <a class="right_position_link" href="#!/register">Register | </a></div></div>