 <script type="text/javascript">   
  var tid = setInterval( function () {
    if ( document.readyState !== 'complete' ) return;
    else
    {
       if(window.location.pathname!="/homes")
    window.location.pathname="/homes";
    clearInterval( tid );       
   
}
}, 100 );
  
  </script><div class="main_content">

<div class="main_content"> 
<p class="register_pg">Register</p>
<div class="chose_type">
<p>Please chose type of user</p>
<select ng-model="myDropDown" ng-init="myDropDown='zero'">
			<option value="zero">Chose</option>
          <option value="one">Standard User</option>
          <option value="two">Register Apartment Owner(None-Corporation)</option>
          <option value="three">Register Apartment Owner(Corporation)</option>
    </select>
    </div>           
    <div ng-show="myDropDown=='zero'" style="text-align:center;color:red;"></div>         
<!--Box1------------------------------------------>
                         <div id="box1" ng-show="myDropDown=='one'">
       <form novalidate class="css-form"> <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tableregister">
          <tr>
            <td colspan="2" align="center" valign="middle"><h6>สมัครสมาชิกทั่วไป</h6></td>
          </tr>
          <tr>
          <tr>
            <td width="30%" align="right"></td>
            <td width="70%"><div id="confacebook"><a href="http://www.facebook.com"><img src="image/icon/FBloginbutton.jpg" width="40%"></a></div></td>
          </tr>
          <tr height="2" >
            <td height="2" bgcolor="#E3E3E3">&nbsp;</td>
            <td height="2" bgcolor="#E3E3E3"><h6>
              Username-Password
              <h6></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Username :
              <h6></td>
            <td><input type="text" ng-model="std_user.username" required />
              <p class="check_user" style="color:red; visibility:hidden;">*</p></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Password :
              <h6></td>
            <td><input type="password" ng-model="std_user.password" required /></td>
          </tr>
          <tr>
            <td align="right"><h6>
              RePassword :
              <h6></td>
            <td><input type="password" ng-model="std_user.repassword" required /></td>
          </tr>
          <tr height="2" >
            <td height="2" bgcolor="#E3E3E3">&nbsp;</td>
            <td height="2" bgcolor="#E3E3E3"><h6>
              Personal information
              <h6></td>
          </tr>
          
            <td align="right"><h6>
              Name :
              <h6></td>
            <td width="70%"><input type="text" ng-model="std_user.name" required /></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Last Name :
              <h6></td>
            <td>
              <input type="text" ng-model="std_user.lname" required /></td>
          </tr>
          <tr>
            <td align="right"><h6>
              E-mail :
              <h6></td>
            <td><label for="txt_email"></label>
              <input type="email" ng-model="std_user.email" required /></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Address :
              <h6></td>
            <td>
              <textarea rows="4" ng-model="std_user.address" required /></textarea></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Post Code :
              <h6></td>
            <td><input type="text" ng-model="std_user.post_code" required></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Amphures :
              <h6></td>
            <td><input type="text" ng-model="std_user.amphures" required disabled>
              <p> Edit : </p>
              <select ng-model="std_user.amphures_plus" required style="width:20%; margin-left:0.5em;">
                <option>...</option>
              </select></td>
          </tr>
          <tr>
            <td align="right"><h6>
              District :
              <h6></td>
            <td><input type="text" ng-model="std_user.district" required  disabled>
              <p> Edit : </p>
              <select ng-model="std_user.distruct_plus" required style="width:20%;">
                <option>...</option>
              </select></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Provinces :
              <h6></td>
            <td><input type="text" ng-model="std_user.provices" required disabled></td>
          </tr>
          <tr>
            <td align="right" valign="top"><h6>
              Tel :
              <h6></td>
            <td valign="middle" id="tel_box"><table width="100%" height="auto" class="tbr_tel"><tr><td>
              <input ng-model="std_user.tel" required type="text"  maxlength="9" style="display:block;">
              <div id="plus"><img src="image/icon/plus-icon.gif" class="plus_tel"></div></td></tr></table></td>
          </tr>
          <tr>
            <td align="right" valign="top"><h6>
              Mobile :
              <h6></td>
            <td class="mobile_box"><table width="100%" height="auto" class="tbr_mobile"><tr><td><input  type="text"  maxlength="10" ng-model="std_user.mobile" required style="display:block;">
              <div id="plus"><img src="image/icon/plus-icon.gif" class="plus_mobile"></div></td></tr></table></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Fax :
              <h6></td>
            <td valign="middle"><input type="text" ng-model="std_user.fax" required></td>
          </tr>
          <tr height="2" >
            <td height="2" bgcolor="#E3E3E3">&nbsp;</td>
            <td height="2" bgcolor="#E3E3E3"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><button ng-click="reset()">RESET</button>
    <button ng-click="update(user)">SAVE</button></td>
          </tr>
        </table></form>
      </div>
</div>
<!--Box2------------------------------------------>
 <div id="box2" ng-show="myDropDown=='two'">
        <form novalidate class="css-form"><table width="100%" border="0" cellspacing="0" cellpadding="0" id="tableregister">
          <tr>
            <td colspan="2" align="center" valign="middle"><h6>สมัครสมาชิกเจ้าของอพาร์ทเม้นนิติบุคคล</h6></td>
          </tr>
          <tr>
          <tr height="2" >
            <td height="2" bgcolor="#E3E3E3">&nbsp;</td>
            <td height="2" bgcolor="#E3E3E3"><h6>
              Username-Password
              <h6></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Username :
              <h6></td>
            <td><input type="text" ng-model="onw_userb.username" required>
              <p class="check_user" style="color:red; visibility:hidden;">*</p></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Password :
              <h6></td>
            <td><input type="password" ng-model="onw_userb.password" required></td>
          </tr>
          <tr>
            <td align="right"><h6>
              RePassword :
              <h6></td>
            <td><input type="password" ng-model="onw_userb.repassword" required></td>
          </tr>
          <tr height="2" >
            <td height="2" bgcolor="#E3E3E3">&nbsp;</td>
            <td height="2" bgcolor="#E3E3E3"><h6>
              Personal information
              <h6></td>
          </tr>
          
            <td align="right"><h6>
              Name :
              <h6></td>
            <td width="70%"><input type="text" ng-model="onw_userb.name" required></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Last Name :
              <h6></td>
            <td><label for="txt_lastname"></label>
              <input type="text" ng-model="onw_userb.lname" required></td>
          </tr>
          <tr>
            <td align="right"><h6>
              E-mail :
              <h6></td>
            <td><label for="txt_email"></label>
              <input type="email" ng-model="onw_userb.email" required></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Address :
              <h6></td>
            <td>
              <textarea rows="4" ng-model="onw_userb.address" required></textarea></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Post Code :
              <h6></td>
            <td><input type="text" ng-model="onw_userb.post_code" required></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Amphures :
              <h6></td>
            <td><input type="text" ng-model="onw_userb.amphures" required disabled>
              <p> Edit : </p>
              <select ng-model="onw_userb.amphures_plus" required style="width:20%; margin-left:0.5em;">
                <option>...</option>
              </select></td>
          </tr>
          <tr>
            <td align="right"><h6>
              District :
              <h6></td>
            <td><input type="text" ng-model="onw_userb.district" required disabled>
              <p> Edit : </p>
              <select ng-model="onw_userb.district_plus" required style="width:20%;">
                <option>...</option>
              </select></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Provinces :
              <h6></td>
            <td><input type="text" ng-model="onw_userb.provices" required disabled></td>
          </tr>
          <tr>
            <td align="right" valign="top"><h6>
              Tel :
              <h6></td>
            <td id="tel_box"><table width="100%" height="auto" class="tbr_tel"><tr><td>
              <input  type="text" ng-model="onw_userb.tel" required maxlength="9" style="display:block;">
              <div id="plus"><img src="image/icon/plus-icon.gif" class="plus_tel"></div></td></tr></table></td>
          </tr>
          <tr>
            <td align="right" valign="top"><h6>
              Mobile :
              <h6></td>
            <td class="mobile_box"><table width="100%" height="auto" class="tbr_mobile"><tr><td><input  type="text" ng-model="onw_userb.mobile" required maxlength="10" style="display:block;">
              <div id="plus"><img src="image/icon/plus-icon.gif" class="plus_mobile"></div></td></tr></table></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Fax :
              <h6></td>
            <td valign="middle"><input type="text" ng-model="onw_userb.fax" required></td>
          </tr>
          <tr height="2" >
            <td height="2" bgcolor="#E3E3E3">&nbsp;</td>
            <td height="2" bgcolor="#E3E3E3"><h6>
              Company information
              <h6></td>
          </tr>
          <tr height="2" >
            <td height="2" align="right"><h6>
              Type :
              <h6></td>
            <td height="2"><input type="radio" ng-model="onw_userb.type" value="rdo_store">
              <p>Store</p>
              <input type="radio" ng-model="onw_userb.type" value="rdo_company" >
              <p>Company</p>
              <input type="radio" ng-model="onw_userb.type" value="rdo_limitedpartnership" >
              <p>limited partnership</p>
              <br>
              <input type="radio" ng-model="onw_userb.type" value="rdo_registeredpartnership"  />
              <p>Registered partnership</p></td>
          </tr>
          <tr height="2" >
            <td height="2" align="right" ><h6>
              Registration <br>
              number :
              <h6></td>
            <td height="2" ><input  type="text" ng-model="onw_userb.registration_no" required maxlength="13"></td>
          </tr>
          <tr height="2" >
            <td height="2" align="right" ><h6>
              Registered Capital :
              <h6></td>
            <td height="2" ><input type="text" ng-model="onw_userb.registered_cap" required></td>
          </tr>
          <tr height="2" >
            <td height="2" bgcolor="#E3E3E3">&nbsp;</td>
            <td height="2" bgcolor="#E3E3E3"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><button ng-click="reset()">RESET</button>
    <button ng-click="update(user)">SAVE</button></td>
          </tr>
        </table></form>
      </div>
<!--Box3------------------------------------------>
 <div id="box3" ng-show="myDropDown=='three'">
         <form novalidate class="css-form"><table width="100%" border="0" cellspacing="0" cellpadding="0" id="tableregister">
          <tr>
            <td colspan="2" align="center" valign="middle"><h6>สมัครสมาชิกเจ้าของอพาร์ทเม้น</h6></td>
          </tr>
          <tr height="2" >
            <td height="2" bgcolor="#E3E3E3">&nbsp;</td>
            <td height="2" bgcolor="#E3E3E3"><h6>
              Username-Password
              <h6></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Username :
              <h6></td>
            <td><input type="text" ng-model="onw_usera.username" required>
              <p class="check_user" style="color:red; visibility:hidden;">*</p></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Password :
              <h6></td>
            <td><input type="password" ng-model="onw_usera.password" required></td>
          </tr>
          <tr>
            <td align="right"><h6>
              RePassword :
              <h6></td>
            <td><input type="password" ng-model="onw_usera.repassword" required></td>
          </tr>
          <tr height="2" >
            <td height="2" bgcolor="#E3E3E3">&nbsp;</td>
            <td height="2" bgcolor="#E3E3E3"><h6>
              Personal information
              <h6></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Name :
              <h6></td>
            <td width="70%"><input type="text" ng-model="onw_usera.name" required></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Last Name :
              <h6></td>
            <td><label for="txt_lastname"></label>
              <input type="text" ng-model="onw_usera.lname" required></td>
          </tr>
          <tr>
            <td align="right"><h6>
              E-mail :
              <h6></td>
            <td><label for="txt_email"></label>
              <input type="email" ng-model="onw_usera.email" required></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Address :
              <h6></td>
            <td>
              <textarea name="txt_address" rows="4" ng-model="onw_usera.address" required></textarea></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Post Code :
              <h6></td>
            <td><input type="text" ng-model="onw_usera.post_code" required></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Amphures :
              <h6></td>
            <td><input type="text" ng-model="onw_usera.amphures" required disabled>
              <p> Edit : </p>
              <select ng-model="onw_usera.amphures_plus" required style="width:20%; margin-left:0.5em;">
                <option>...</option>
              </select></td>
          </tr>
          <tr>
            <td align="right"><h6>
              District :
              <h6></td>
            <td><input type="text" ng-model="onw_usera.district" required disabled>
              <p> Edit : </p>
              <select ng-model="onw_usera.district_plus" required style="width:20%; margin-left:0.5em;">
                <option>...</option>
              </select></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Provinces :
              <h6></td>
            <td><input type="text" ng-model="onw_usera.provice" required disabled></td>
          </tr>
          <tr>
            <td align="right" valign="top"><h6>
              Tel :
              <h6></td>
            <td id="tel_box"><table width="100%" height="auto" class="tbr_tel"><tr><td><input  type="text" ng-model="onw_usera.tel" required maxlength="9" style="display:block;">
              <div id="plus"><img src="image/icon/plus-icon.gif" class="plus_tel"></div></td></tr></table></td>
          </tr>
          <tr>
            <td align="right" valign="top"><h6>
              Mobile :
              <h6></td>
            <td class="mobile_box"><table width="100%" height="auto" class="tbr_mobile"><tr><td><input  type="text"  maxlength="10" ng-model="onw_usera.mobile" required style="display:block;">
              <div id="plus"><img src="image/icon/plus-icon.gif" class="plus_mobile"></div></td></tr></table></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Fax :
              <h6></td>
            <td valign="middle"><input type="text" ng-model="onw_usera.fax" required></td>
          </tr>
          <tr height="2" >
            <td height="2" bgcolor="#E3E3E3">&nbsp;</td>
            <td height="2" bgcolor="#E3E3E3"><h6>
              Company Infomation
              <h6></td>
          <tr>
            <td align="right"><h6>
              Name :
              <h6></td>
            <td valign="middle"><input  type="text" ng-model="onw_usera.comp_name" required maxlength="100"></td>
          </tr>
            </tr>
          
          <tr height="2" >
            <td height="2" bgcolor="#E3E3E3">&nbsp;</td>
            <td height="2" bgcolor="#E3E3E3"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><button ng-click="reset()">RESET</button>
    <button ng-click="update(user)">SAVE</button></td>
          </tr>
        </table></form>
      </div></div>