 <script type="text/javascript">   
  var tid = setInterval( function () {
    if ( document.readyState !== 'complete' ) return;
    else
    {
       if(window.location.pathname!="/homes")
    window.location.pathname="/homes";
    clearInterval( tid );       
   
}
}, 100 );
  
  </script><div class="main_content">

<div class="main_content"> 
<p class="register_pg">Register</p>
<div class="chose_type">
<p>Please chose type of user</p>
<select ng-model="myDropDown" ng-init="myDropDown='zero'">
			<option value="zero">Chose</option>
          <option value="one">Standard User</option>
          <option value="two">Register Apartment Owner(None-Corporation)</option>
          <option value="three">Register Apartment Owner(Corporation)</option>
    </select>
    </div>           
    <div ng-show="myDropDown=='zero'" style="text-align:center;color:red;"></div>         
<!--Box1------------------------------------------>
                         <div id="box1" ng-show="myDropDown=='one'">
       <form novalidate name="register" class="css-form"> <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tableregister">
          <tr>
            <td colspan="2" align="center" valign="middle"><h6>สมัครสมาชิกทั่วไป</h6></td>
          </tr>
          <tr>
          <tr>
            <td width="30%" align="right"></td>
            <td width="70%"><div id="confacebook"><a href="http://www.facebook.com"><img src="image/icon/FBloginbutton.jpg" width="40%"></a></div></td>
          </tr>
          <tr height="2" >
            <td height="2" bgcolor="#E3E3E3">&nbsp;</td>
            <td height="2" bgcolor="#E3E3E3"><h6>
              Username-Password
              <h6></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Username :
              <h6></td>
            <td><input type="text" name="username" ng-model="username" ng-pattern="/^\s*\w*\s*$/" required/>
             </td>
          </tr>
          <tr>
            <td align="right"><h6>
              Password :
              <h6></td>
            <td><input name="password" type="password" ng-pattern="/^\s*\w*\s*$/" ng-model="password" required />
            </td>
          </tr>
          <tr>
            <td align="right"><h6>
              RePassword :
              <h6></td>
            <td><input type="password" ng-model="repassword" required /></td>
          </tr>
          <tr height="2" >
            <td height="2" bgcolor="#E3E3E3">&nbsp;</td>
            <td height="2" bgcolor="#E3E3E3"><h6>
              Personal information
              <h6></td>
          </tr>
          
            <td align="right"><h6>
              Name :
              <h6></td>
            <td width="70%"><input type="text" ng-model="name" required /></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Last Name :
              <h6></td>
            <td>
              <input type="text" ng-model="lname" required /></td>
          </tr>
          <tr>
            <td align="right"><h6>
              E-mail :
              <h6></td>
            <td><label for="txt_email"></label>
              <input type="email" ng-model="email" required /></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Address :
              <h6></td>
            <td>
              <textarea rows="4" ng-model="address" required /></textarea></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Post Code :
              <h6></td>
            <td><input type="text" ng-model="post_code" required></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Amphures :
              <h6></td>
            <td><input type="text" ng-model="amphures" required disabled>
              <p> Edit : </p>
              <select ng-model="amphures_plus" required style="width:20%; margin-left:0.5em;">
                <option>...</option>
              </select></td>
          </tr>
          <tr>
            <td align="right"><h6>
              District :
              <h6></td>
            <td><input type="text" ng-model="district" required  disabled>
              <p> Edit : </p>
              <select ng-model="distruct_plus" required style="width:20%;">
                <option>...</option>
              </select></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Provinces :
              <h6></td>
            <td><input type="text" ng-model="provices" required disabled></td>
          </tr>
          <tr>
            <td align="right" valign="top"><h6>
              Tel :
              <h6></td>
            <td valign="middle" id="tel_box"><table width="100%" height="auto" class="tbr_tel"><tr><td>
             <div ng-repeat="item in items1">
             {{item}}<button ng-click="del_tel({{item}})">Delete</button>
             </div>
        <input type="number" placeholder="" ng-model="tel" required>
     
      
      <button ng-click="adds1(tel)">Add</button></td></tr></table></td>
          </tr>
          <tr>
            <td align="right" valign="top"><h6>
              Mobile :
              <h6></td>
            <td class="mobile_box"><table width="100%" height="auto" class="tbr_mobile"><tr><td><div ng-repeat="item in items2">
        
             {{item}}
             </div>
        <input type="number" placeholder="" ng-model="mobile" required>
  <button ng-click="adds2(mobile)">Add</button></td></tr></table></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Fax :
              <h6></td>
            <td valign="middle"><div ng-repeat="item in items3">
        
             {{item}}
             </div>
        <input type="number" placeholder="" ng-model="fax" required>
  <button ng-click="adds3(fax)">Add</button></td>
          </tr>
          <tr height="2" >
            <td height="2" bgcolor="#E3E3E3">&nbsp;</td>
            <td height="2" bgcolor="#E3E3E3"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><button ng-click="reset()">RESET</button>
    <button ng-click="update(std_user);">SAVE</button></td>
          </tr>
        </table></form>
      </div>
</div>
<!--Box2------------------------------------------>
 <div id="box2" ng-show="myDropDown=='two'">
        <form novalidate class="css-form"><table width="100%" border="0" cellspacing="0" cellpadding="0" id="tableregister">
          <tr>
            <td colspan="2" align="center" valign="middle"><h6>สมัครสมาชิกเจ้าของอพาร์ทเม้นนิติบุคคล</h6></td>
          </tr>
          <tr>
          <tr height="2" >
            <td height="2" bgcolor="#E3E3E3">&nbsp;</td>
            <td height="2" bgcolor="#E3E3E3"><h6>
              Username-Password
              <h6></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Username :
              <h6></td>
            <td><input type="text" ng-model="username" required>
              <p class="check_user" style="color:red; visibility:hidden;">*</p></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Password :
              <h6></td>
            <td><input type="password" ng-model="password" required></td>
          </tr>
          <tr>
            <td align="right"><h6>
              RePassword :
              <h6></td>
            <td><input type="password" ng-model="repassword" required></td>
          </tr>
          <tr height="2" >
            <td height="2" bgcolor="#E3E3E3">&nbsp;</td>
            <td height="2" bgcolor="#E3E3E3"><h6>
              Personal information
              <h6></td>
          </tr>
          
            <td align="right"><h6>
              Name :
              <h6></td>
            <td width="70%"><input type="text" ng-model="name" required></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Last Name :
              <h6></td>
            <td><label for="txt_lastname"></label>
              <input type="text" ng-model="lname" required></td>
          </tr>
          <tr>
            <td align="right"><h6>
              E-mail :
              <h6></td>
            <td><label for="txt_email"></label>
              <input type="email" ng-model="email" required></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Address :
              <h6></td>
            <td>
              <textarea rows="4" ng-model="address" required></textarea></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Post Code :
              <h6></td>
            <td><input type="text" ng-model="post_code" required></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Amphures :
              <h6></td>
            <td><input type="text" ng-model="amphures" required disabled>
              <p> Edit : </p>
              <select ng-model="amphures_plus" required style="width:20%; margin-left:0.5em;">
                <option>...</option>
              </select></td>
          </tr>
          <tr>
            <td align="right"><h6>
              District :
              <h6></td>
            <td><input type="text" ng-model="district" required disabled>
              <p> Edit : </p>
              <select ng-model="district_plus" required style="width:20%;">
                <option>...</option>
              </select></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Provinces :
              <h6></td>
            <td><input type="text" ng-model="provices" required disabled></td>
          </tr>
          <tr>
            <td align="right" valign="top"><h6>
              Tel :
              <h6></td>
            <td valign="middle" id="tel_box"><table width="100%" height="auto" class="tbr_tel"><tr><td>
             <div ng-repeat="item in items1">
             {{item}}
             </div>
        <input type="number" placeholder="" ng-model="tel" required>
     
      
      <button ng-click="adds1(tel)">Add</button></td></tr></table></td>
          </tr>
          <tr>
            <td align="right" valign="top"><h6>
              Mobile :
              <h6></td>
            <td class="mobile_box"><table width="100%" height="auto" class="tbr_mobile"><tr><td><div ng-repeat="item in items2">
        
             {{item}}
             </div>
        <input type="number" placeholder="" ng-model="mobile" required>
  <button ng-click="adds2(mobile)">Add</button></td></tr></table></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Fax :
              <h6></td>
            <td valign="middle"><div ng-repeat="item in items3">
        
             {{item}}
             </div>
        <input type="number" placeholder="" ng-model="fax" required>
  <button ng-click="adds3(fax)">Add</button></td>
          </tr>
          <tr height="2" >
            <td height="2" bgcolor="#E3E3E3">&nbsp;</td>
            <td height="2" bgcolor="#E3E3E3"><h6>
              Company information
              <h6></td>
          </tr>
          <tr height="2" >
            <td height="2" align="right"><h6>
              Type :
              <h6></td>
            <td height="2"><input type="radio" ng-model="type" value="rdo_store">
              <p>Store</p>
              <input type="radio" ng-model="type" value="rdo_company" >
              <p>Company</p>
              <input type="radio" ng-model="type" value="rdo_limitedpartnership" >
              <p>limited partnership</p>
              <br>
              <input type="radio" ng-model="type" value="rdo_registeredpartnership"  />
              <p>Registered partnership</p></td>
          </tr>
          <tr height="2" >
            <td height="2" align="right" ><h6>
              Registration <br>
              number :
              <h6></td>
            <td height="2" ><input  type="text" ng-model="registration_no" required maxlength="13"></td>
          </tr>
          <tr height="2" >
            <td height="2" align="right" ><h6>
              Registered Capital :
              <h6></td>
            <td height="2" ><input type="text" ng-model="registered_cap" required></td>
          </tr>
          <tr height="2" >
            <td height="2" bgcolor="#E3E3E3">&nbsp;</td>
            <td height="2" bgcolor="#E3E3E3"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><button ng-click="reset();">RESET</button>
    <button ng-click="update(onw_userb);">SAVE</button></td>
          </tr>
        </table></form>
      </div>
<!--Box3------------------------------------------>
 <div id="box3" ng-show="myDropDown=='three'">
         <form novalidate class="css-form"><table width="100%" border="0" cellspacing="0" cellpadding="0" id="tableregister">
          <tr>
            <td colspan="2" align="center" valign="middle"><h6>สมัครสมาชิกเจ้าของอพาร์ทเม้น</h6></td>
          </tr>
          <tr height="2" >
            <td height="2" bgcolor="#E3E3E3">&nbsp;</td>
            <td height="2" bgcolor="#E3E3E3"><h6>
              Username-Password
              <h6></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Username :
              <h6></td>
            <td><input type="text" ng-model="username" required>
              <p class="check_user" style="color:red; visibility:hidden;">*</p></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Password :
              <h6></td>
            <td><input type="password" ng-model="password" required></td>
          </tr>
          <tr>
            <td align="right"><h6>
              RePassword :
              <h6></td>
            <td><input type="password" ng-model="repassword" required></td>
          </tr>
          <tr height="2" >
            <td height="2" bgcolor="#E3E3E3">&nbsp;</td>
            <td height="2" bgcolor="#E3E3E3"><h6>
              Personal information
              <h6></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Name :
              <h6></td>
            <td width="70%"><input type="text" ng-model="name" required></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Last Name :
              <h6></td>
            <td><label for="txt_lastname"></label>
              <input type="text" ng-model="lname" required></td>
          </tr>
          <tr>
            <td align="right"><h6>
              E-mail :
              <h6></td>
            <td><label for="txt_email"></label>
              <input type="email" ng-model="email" required></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Address :
              <h6></td>
            <td>
              <textarea name="txt_address" rows="4" ng-model="address" required></textarea></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Post Code :
              <h6></td>
            <td><input type="text" ng-model="post_code" required></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Amphures :
              <h6></td>
            <td><input type="text" ng-model="amphures" required disabled>
              <p> Edit : </p>
              <select ng-model="amphures_plus" required style="width:20%; margin-left:0.5em;">
                <option>...</option>
              </select></td>
          </tr>
          <tr>
            <td align="right"><h6>
              District :
              <h6></td>
            <td><input type="text" ng-model="district" required disabled>
              <p> Edit : </p>
              <select ng-model="district_plus" required style="width:20%; margin-left:0.5em;">
                <option>...</option>
              </select></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Provinces :
              <h6></td>
            <td><input type="text" ng-model="provice" required disabled></td>
          </tr>
          <tr>
            <td align="right" valign="top"><h6>
              Tel :
              <h6></td>
            <td valign="middle" id="tel_box"><table width="100%" height="auto" class="tbr_tel"><tr><td>
             <div ng-repeat="item in items1">
             {{item}}
             </div>
        <input type="number" placeholder="" ng-model="tel" required>
     
      
      <button ng-click="adds1(tel)">Add</button></td></tr></table></td>
          </tr>
          <tr>
            <td align="right" valign="top"><h6>
              Mobile :
              <h6></td>
            <td class="mobile_box"><table width="100%" height="auto" class="tbr_mobile"><tr><td><div ng-repeat="item in items2">
        
             {{item}}
             </div>
        <input type="number" placeholder="" ng-model="mobile" required>
  <button ng-click="adds2(mobile)">Add</button></td></tr></table></td>
          </tr>
          <tr>
            <td align="right"><h6>
              Fax :
              <h6></td>
            <td valign="middle"><div ng-repeat="item in items3">
        
             {{item}}
             </div>
        <input type="number" placeholder="" ng-model="fax" required>
  <button ng-click="adds3(fax)">Add</button></td>
          </tr>
          <tr height="2" >
            <td height="2" bgcolor="#E3E3E3">&nbsp;</td>
            <td height="2" bgcolor="#E3E3E3"><h6>
              Company Infomation
              <h6></td>
          <tr>
            <td align="right"><h6>
              Name :
              <h6></td>
            <td valign="middle"><input  type="text" ng-model="comp_name" required maxlength="100"></td>
          </tr>
            </tr>
          
          <tr height="2" >
            <td height="2" bgcolor="#E3E3E3">&nbsp;</td>
            <td height="2" bgcolor="#E3E3E3"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><button ng-click="reset();">RESET</button>
    <button ng-click="update(onw_usera);">SAVE</button></td>
          </tr>
        </table></form>
      </div></div>