 <script type="text/javascript">
   
  var tid = setInterval( function () {
    if ( document.readyState !== 'complete' ) return;
    else
    {
       if(window.location.pathname!="/manage")
    window.location.pathname="/manage";
    clearInterval( tid );       
   
}
}, 100 );
  
  </script><div class="main_content">
 <div class="main_content_head"><a href="/check_out_report">Export report</a> | <a href="/check_out_report_information">Information</a> | <a href="/check_out_report_other">Other</a></div>
 
<div class="main_content_inner1">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tablecreate">
  <tr>
    <td colspan="2" align="center"><h6>Add room</h6><h5>detail</h5></td>
    </tr>
    <tr>
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  <tr >
    <td width="30%" align="right"><h6>Building :</h6></td>
    <td width="70%">
      <select name="sel_building" id="sel_building" ng-model="val0">
        <option>Chose</option>
        <option>ตึก1</option>
        <option>ตึก2</option>
      </select></td>
  </tr>
  <tr >
    <td align="right"><h6>room NO. :</h6></td>
    <td><input name="txt_room_no" type="text" size="20" maxlength="100" width="80%" ng-model="val1" ng-pattern="/^null+$/" class="my-input" placeholder="123, 457"></td>
  </tr>
 <tr >
    <td align="right"><h6>room Name :</h6></td>
    <td><input name="txt_room_name" type="text" size="20" maxlength="100" width="80%" ng-model="val2" ng-pattern="/^null+$/" class="my-input" placeholder="exclusive"></td>
  </tr>
 <tr>
    <td align="right"><h6>status :</h6></td>
    <td valign="middle">
      <input type="radio" name="radio_sta" id="rdo_ava" value="rdo_ava"> <p>Available</p>
      <input type="radio" name="radio_sta" id="rdo_un_ava" value="rdo_un_ava">
      <p>Unvailable</p></td>
  </tr>
   <tr>
    <td align="right"><h6>Invoice :</h6></td>
    <td valign="middle">
      <input type="checkbox" name="ch_sep" id="ch_sep" ng-model="checked" ng-init="checked=true"/>
        <p>not separate</p>
      </td>  
      </tr>
  <tr>
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
<tr>
    <td align="right"><h6>rate :</h6></td>
    <td ><input name="txt_room_rate" type="text" size="20" maxlength="100" width="80%" ng-model="val2" ng-pattern="/^null+$/" class="my-input" placeholder="3,000, 5,000"><input name="txt_room_rate_vat" type="text" maxlength="100" width="10%" ng-model="val2" ng-pattern="/^null+$/" class="my-input" placeholder="Vat %"></td>
  </tr>
  <tr ng-if="checked" class="animate-if">
    <td colspan="2" align="center"><img src="image/icon/plus-icon.gif"  width="7%"/></td>
    </tr>
  <tr >
    <td align="right"><h6>Furniture :</h6></td>
    <td ><input name="txt_room_fur" type="text" size="20" maxlength="100" width="80%" ng-model="val2" ng-pattern="/^null+$/" class="my-input" placeholder="3,000, 5,000">
      <input name="txt_room_fur_vat" type="text" maxlength="100" width="10%" ng-model="val2" ng-pattern="/^null+$/" class="my-input" placeholder="Vat %" /></td>
  </tr>
  <tr ng-if="checked" class="animate-if">
    <td colspan="2" align="center"><img src="image/icon/plus-icon.gif"  width="7%"/></td>
    </tr>
  <tr>
    <td align="right"><h6>Public utility :</h6></td>
    <td ><input name="txt_room_pub_uti" type="text" size="20" maxlength="100" width="80%" ng-model="val2" ng-pattern="/^null+$/" class="my-input" placeholder="3,000, 5,000">
      <input name="txt_room_pub_uti_vat" type="text" maxlength="100" width="10%" ng-model="val2" ng-pattern="/^null+$/" class="my-input" placeholder="Vat %" /></td>
  </tr>
 <tr >
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  <tr>
    <td align="right"><h6>water bill & energy bill :</h6></td>
    <td > <input type="checkbox" name="ch_int_wat_bil" id="ch_internal_water_bill" checked="checked"/>
        <p>Internal water bill</p>
        <input type="checkbox" name="ch_ext_wat_bill" id="ch_external_water_bill"/>
        <p>External water bill</p>
        <input type="checkbox" name="ch_int_eng_bil" id="ch_internal_energy_bill" checked="checked"/>
        <p>Internal energy bill</p>
        <input type="checkbox" name="ch_ext_eng_bil" id="ch_external_energy_bill"/>
        <p>External energy bill</p></td>
  </tr>
  <tr>
    <td align="right"><h6>Service :</h6></td>
    <td valign="middle">
      <input type="checkbox" name="ch_service" id="ch_sep" ng-model="checked"/>
        <p>{-{-service-}-}</p>
      </td> 
      </tr>
      <tr>
    <td align="right"><h6>Furniture include :</h6></td>
    <td valign="middle">
      <input type="checkbox" name="ch_furniture" id="ch_sep" ng-model="checked"/>
        <p>{-{-Furniture-}-}</p>
      </td> 
      </tr>
      <tr >
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  <tr>
   
     <td colspan="2" align="center"><input type="reset" name="btn_cancle" class="btn_cancle" value="Back"><input type="submit" name="btn_next" class="btn_submit" value="Add">
        </td>
  </tr>
  
</table>
</div>
</div>