<table width="100%" border="0" cellspacing="0" cellpadding="0" id="tablecreate">
  <tr>
    <td colspan="2" align="center"><h6>Cost of utilities</h6><h5>detail</h5></td>
    </tr>
    <tr>
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  <tr>
    <td width="30%" align="right"><h6>Water bills :</h6></td>
    <td><input name="txt_water_bills" type="text" size="20" maxlength="100" placeholder="per unit" ng-model="val" ng-pattern="/^null+$/" class="my-input"></td>
  </tr>
  <tr>
    <td align="right"><h6>Vat :</h6></td>
    <td valign="middle">
      <input type="radio" name="radio" id="rdo_include_water_vat" value="rdo_include_water_vat"> <p>No</p>
      <input type="radio" name="radio" id="rdo_notinclude_water_vat" value="rdo_notinclude_water_vat">
      <p>Yes :</p><input name="txt_vat" type="text" size="10" maxlength="3" placeholder="0"></td>
  </tr>
  <tr>
    <td align="right"></td>
    <td align="left" valign="top"><input name="chb_min_bills" type="checkbox" value="" checked>
            <p>1.1 Minimum Bills</p></td>
  </tr>
  <tr>
    <td align="right"></td>
    <td align="left" valign="top"><p>minimum : </p>      <input name="txt_min_water_bills" type="text" maxlength="10" placeholder="unit"></td>
    </tr>
  <tr>
    <td align="right"></td>
    <td align="left" valign="top"><p>pay : </p>      <input name="txt_min_water_bills_pay" type="text" maxlength="10" placeholder="baht"></td>
    </tr>
  <tr>
    <td align="right"></td>
    <td align="left" valign="top"><input name="chb_package_bills" type="checkbox" value="">
<p>1.2 Package</p></td>
    </tr>
  <tr>
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  <tr>
    <td width="30%" align="right"><h6>Energy bills :</h6></td>
    <td><input name="txt_energy_bills" type="text" size="20" maxlength="100" placeholder="per unit" ng-model="val1" ng-pattern="/^null+$/" class="my-input"></td>
  </tr>
  <tr>
    <td width="30%" align="right"><h6>Vat :</h6></td>
    <td><input type="radio" name="radio1" id="rdo_include_energy_vat" value="rdo_include_energy_vat"> <p>No</p>
      <input type="radio" name="radio1" id="rdo_notinclude_energy_vat" value="rdo_notinclude_energy_vat">
      <p>Yes :</p><input name="txt_vat" type="text" size="10" maxlength="3" placeholder="0"></td>
  </tr>
   <tr>
    <td align="right"></td>
    <td align="left" valign="top"><input name="chb_min_bills" type="checkbox" value="" checked>
            <p>1.1 Minimum Bills</p></td>
  </tr>
  <tr>
    <td align="right"></td>
    <td align="left" valign="top"><p>minimum : </p>      <input name="txt_min_water_bills" type="text" maxlength="10" placeholder="unit"></td>
    </tr>
  <tr>
    <td align="right"></td>
    <td align="left" valign="top"><p>pay : </p>      <input name="txt_min_water_bills_pay" type="text" maxlength="10" placeholder="baht"></td>
    </tr>
  <tr>
    <td align="right"></td>
    <td align="left" valign="top"><input name="chb_package_bills" type="checkbox" value="">
<p>1.2 Package</p></td>
    </tr>
    <tr>
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
    <tr>
    <td width="30%" align="right"><h6>Telephone Vat :</h6></td>
    <td><input type="radio" name="radio2" id="rdo_include_tel_vat" value="rdo_include_tel_vat"> <p>No</p>
      <input type="radio" name="radio2" id="rdo_notinclude_tel_vat" value="rdo_notinclude_tel_vat">
      <p>Yes :</p><input name="txt_vat" type="text" size="10" maxlength="3" placeholder="0"></td>
  </tr>
  <tr>
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  <tr>
    
     <td colspan="2" align="center"><input type="reset" name="btn_cancle" class="btn_cancle" value="Back"><input type="submit" name="btn_next" class="btn_submit" value="Next">
        </td>
  </tr>
  
</table>