<table width="100%" border="0" cellspacing="0" cellpadding="0" id="tablecreate">
  <tr>
    <td colspan="2" align="center"><h6>Create Building</h6><h5>detail</h5></td>
    </tr>
    <tr>
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  <tr>
    <td width="30%" align="right"><h6>Name of Building :</h6></td>
    <td width="70%"><input name="txt_building" type="text" size="20" maxlength="100" width="80%" ng-model="val" ng-pattern="/^null+$/" class="my-input"></td>
  </tr>
  <tr>
    <td align="right"><h6>Address :</h6></td>
    <td><textarea name="txt_building_address" rows="6" ng-model="val1" ng-pattern="/^null+$/" class="my-input"></textarea></td>
  </tr>
  <tr>
    <td align="right"><h6>Tel. :</h6></td>
    <td><input name="txt_building_tel" ng-model="val2" ng-pattern="/^null+$/" class="my-input" type="text" maxlength="10"></td>
  </tr>
  <tr>
    <td align="right"><h6>Fax. :</h6></td>
    <td><input name="txt_building_fax" ng-model="val3" ng-pattern="/^null+$/" class="my-input" type="text" maxlength="30"></td>
  </tr>
  <tr>
    <td align="right"><h6>Detail :</h6></td>
    <td><textarea name="txt_building_detail" ng-model="val4" ng-pattern="/^null+$/" class="my-input" rows="6"></textarea></td>
  </tr>
  <tr>
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="reset" name="btn_cancle" class="btn_cancle" value="Cancle"><input type="submit" name="btn_next" class="btn_submit" value="Next">    </td>
    </tr>
  
</table>