<table width="100%" border="0" cellspacing="0" cellpadding="0" id="tablecreate">
  <tr>
    <td colspan="2" align="center"><h6>Document</h6><h5>Information will be place on top of document.</h5></td>
    </tr>
    <tr>
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  <tr class="documant_company_name">
    <td width="30%" align="right"><h6>Company Name :</h6></td>
    <td width="70%"><input name="txt_company_name" type="text" size="20" maxlength="100" width="80%" placeholder="Company Co.,Ltd" ng-model="val" ng-pattern="/^null+$/" class="my-input"></td>
  </tr>
  <tr class="document_address">
    <td align="right"><h6>Address :</h6></td>
    <td><input name="txt_document_address" type="text" size="20" maxlength="100" width="80%"  placeholder="..." ng-model="val1" ng-pattern="/^null+$/" class="my-input"></td>
  </tr>
  <tr class="document_amphures">
    <td align="right"><h6>Amphures :</h6></td>
    <td><input name="txt_document_amphures" type="text" size="20" maxlength="100" width="80%"  placeholder="..." ng-model="val2" ng-pattern="/^null+$/" class="my-input"></td>
  </tr>
  <tr class="document_district">
    <td align="right"><h6>District :</h6></td>
    <td><input name="txt_document_district" type="text" size="20" maxlength="100" width="80%"  placeholder="..." ng-model="val3" ng-pattern="/^null+$/" class="my-input"></td>
  </tr>
  <tr class="document_province">
    <td align="right"><h6>Provice :</h6></td>
    <td><input name="txt_document_province" type="text" size="20" maxlength="100" width="80%" clas placeholder="..." ng-model="val4" ng-pattern="/^null+$/" class="my-input"></td>
  </tr>
  <tr class="document_postcode">
    <td align="right"><h6>Postcode :</h6></td>
    <td><input name="txt_document_postcode" type="text" size="20" maxlength="100" width="80%" placeholder="10230" ng-model="val5" ng-pattern="/^null+$/" class="my-input"></td>
  </tr>
  <tr class="document_tel">
    <td align="right"><h6>Tel. :</h6></td>
    <td><input name="txt_document_tel" type="text" size="20" maxlength="9" width="80%" placeholder="..." ng-model="val6" ng-pattern="/^null+$/" class="my-input"></td>
  </tr>
   <tr class="document_mobile">
    <td align="right"><h6>Mobile :</h6></td>
    <td><input name="txt_document_mobile" type="text" size="20" maxlength="10" width="80%" placeholder="..." ng-model="val7" ng-pattern="/^null+$/" class="my-input"></td>
  </tr>
  <tr class="document_fax">
    <td align="right"><h6>Fax :</h6></td>
    <td><input name="txt_document_fax" type="text" size="20" maxlength="10" width="80%" placeholder="..." ng-model="val8" ng-pattern="/^null+$/" class="my-input"></td>
  </tr>
  <tr class="document_web_site">
    <td align="right"><h6>Web site :</h6></td>
    <td><input name="txt_web_site" type="text" size="20" maxlength="100" width="80%" placeholder="..." ng-model="val9" ng-pattern="/^null+$/" class="my-input"></td>
  </tr>
  <tr class="document_logo">
    <td align="right"><h6>Logo :</h6></td>
    <td>
      <input type="file" class="brw_document_logo" name="brw_asset_picture" id="brw_document_logo"></td>
  </tr>
  <tr>
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  <tr>
   
     <td colspan="2" align="center"><input type="reset" name="btn_cancle" class="btn_cancle" value="Back"><input type="submit" name="btn_next" class="btn_submit" value="Finish">
        </td>
  </tr>
  
</table>