<table width="100%" border="0" cellspacing="0" cellpadding="0" id="tablecreate">
  <tr>
    <td colspan="2" align="center"><h6>Fine</h6><h5>detail</h5></td>
    </tr>
    <tr>
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  <tr class="fine_date_num">
    <td width="30%" align="right"><h6>Building :</h6></td>
    <td width="70%"><input name="txt_fine_datenum" type="text" size="20" maxlength="100" width="80%" ng-model="val" ng-pattern="/^null+$/" class="my-input" placeholder="name"></td>
  </tr>
  <tr class="fine_fines">
    <td align="right"><h6>Fines :</h6></td>
    <td><input name="txt_fine_fines" type="text" size="20" maxlength="100" width="80%" ng-model="val1" ng-pattern="/^null+$/" class="my-input" placeholder="per day"></td>
  </tr>
 
  <tr>
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  <tr>
   
     <td colspan="2" align="center"><input type="reset" name="btn_cancle" class="btn_cancle" value="Back"><input type="submit" name="btn_next" class="btn_submit" value="Next">
        </td>
  </tr>
  
</table>