
<form novalidate class="css-form">
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="tablecreate">
  <tr>
    <td colspan="2" align="center"><h6>Cost of utilities</h6><h5>detail</h5></td>
    </tr>
    <tr>
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  <tr>
    <td width="30%" align="right"><h6>Head banner :</h6></td>
    <td><input type="file" name="up_head_banner" id="up_head_banner" /></td>
  </tr>
  <tr>
    <td align="right"><h6>Apartment Detail : </h6></td>
    <td align="left" valign="top"><textarea  rows="6" required="required" name="aprt_detail" ng-model="aprt_detail"></textarea></td>
  </tr>
  
  <tr>
    <td width="30%" align="right"><h6>Custom link : </h6></td>
    <td><div ng-repeat="item in items1">
        <input type="text" placeholder="{{item.num}}" name="part_link_name" ng-model="part_link_name" required> url : 
<input type="text" placeholder="{{item.num}}" name="part_link_href" ng-model="part_link_href" required>
      </div>
      <button ng-click="add1()">New Item</button></td>
  </tr>
  <tr class="document_logo">
    <td align="right"><h6>Logo :</h6></td>
    <td>
      <input type="file" name="comp_logo" ng-model="comp_logo" required></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><button ng-click="back()">Back</button><button ng-click="submit()">Submit</button></td>
    </tr>
  
</table>
</form>

 
  