 <script type="text/javascript">
   
  var tid = setInterval( function () {
    if ( document.readyState !== 'complete' ) return;
    else
    {
       if(window.location.pathname!="/manage")
    window.location.pathname="/manage";
    clearInterval( tid );       
   
}
}, 100 );
  
  </script>
<form novalidate class="css-form"><table width="100%" border="0" cellspacing="0" cellpadding="0" id="table_option_manager">
  <tr>
    <td colspan="2" align="center"><h6>Fine</h6><h5>detail</h5></td>
    </tr>
    <tr>
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  <tr class="fine_date_num">
    <td width="30%" align="right"><h6>Date :</h6></td>
    <td width="70%"><input type="text" placeholder="date no." ng-model="fine.date_no" required /></td>
  </tr>
  <tr class="fine_fines">
    <td align="right"><h6>Fines :</h6></td>
    <td><input type="text" placeholder="per day" ng-model="fine.fine" required /></td>
  </tr>
 
  <tr>
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  <tr>
   
     <td colspan="2" align="center"><button ng-click="back()">Back</button><button ng-click="next()">Next</button>
        </td>
  </tr>
  
</table></form>