 <script type="text/javascript">   
  var tid = setInterval( function () {
    if ( document.readyState !== 'complete' ) return;
    else
    {
       if(window.location.pathname!="/manage")
    window.location.pathname="/manage";
    clearInterval( tid );       
   
}
}, 100 );
  
  </script><div class="main_content">
   <div class="main_content_head"><a href="/invoice_information">Invoice information</a> | <a href="/invoice_export">Export</a> | <a href="/invoice_print">Print</a>
   </div>
   <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="20%" align="right"><p id="roommg_head">Invoice search</p></td>
        <td width="60%" align="left"><input type="text" id="search" ng-model="search" class="search-query"  name="txt_search" placeholder=""></td>
        <td width="20%" align="right"><img src="image/icon/print.png" style="width:39px; margin-right:1em;" />
        </td>
      </tr>
    </table>
<div class="main_content_inner1" style="margin:0em;">
   <table class="tbr_customers" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="10%" rowspan="2" align="center">Building</td>
    <td width="10%" rowspan="2" align="center" >Room no.</td>
    <td colspan="3" align="center" style="text-align:center;">rent</td>
    <td width="5%" rowspan="2" align="center" style="text-align:center;">Water</td>
    <td width="5%" rowspan="2" align="center" style="text-align:center;">Energy</td>
    <td width="5%" rowspan="2" align="center" style="text-align:center;">Telephone</td>
    <td width="10%" rowspan="2" align="center" style="text-align:center;">Other service</td>
    <td width="5%" rowspan="2" align="center" style="text-align:center;">Export</td>
  </tr>
  <tr>
    <td width="5%" align="center" style="text-align:center;">rent</td>
    <td width="5%" align="center" style="text-align:center;">asset</td>
    <td width="10%" align="center" style="text-align:center;">utility</td>
  </tr>
  <tr>
    <td align="center">Building1</td>
    <td align="center">543</td>
    <td align="center" >6000</td>
    <td align="center" >2000</td>
    <td align="center" >300</td>
    <td align="center">250</td>
    <td align="center">1000</td>
    <td align="center">250</td>
    <td align="center">Net 300</td>
    <td align="center"><img src="image/icon/print.png" width="30%" /></td>
  </tr>
  <tr>
    <td align="center">Building1</td>
    <td align="center">544</td>
    <td align="center" >6000</td>
    <td align="center" >2000</td>
    <td align="center" >300</td>
    <td align="center">250</td>
    <td align="center">1000</td>
    <td align="center">250</td>
    <td align="center">Net 300</td>
    <td align="center"><img src="image/icon/print.png" width="30%" /></td>
  </tr>
</table>

</div>
</div>