 <script type="text/javascript">   
  var tid = setInterval( function () {
    if ( document.readyState !== 'complete' ) return;
    else
    {
       if(window.location.pathname!="/manage")
    window.location.pathname="/manage";
    clearInterval( tid );       
   
}
}, 100 );
  
  </script>
  <div class="main_content">
 <div class="main_content_head"><a href="/energy_information">Energy information</a> | <a href="/energy_record">Record</a></div>
<div class="main_content_inner1">
   <form novalidate class="css-form" name="myForm">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table_option_manager" >
              <tr>
                <td colspan="2" align="center"><h6>Add Energy Bills</h6>
                  <h5>บันทึกค่าไฟ</h5></td>
              </tr>
              <tr>
                <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
              </tr>
              <tr >
                <td width="30%" align="right"><h6>Building :</h6></td>
                <td width="70%"><select ng-model="select_building" required >
                    <option>Chose</option>
                    <option>ตึก1</option>
                    <option>ตึก2</option>
                  </select></td>
              </tr>
              <tr >
                <td align="right"><h6>Date of record:</h6></td>
                <td><input type="date" id="exampleInput" name="input" ng-model="date_rec"
       placeholder="dd-MM-yyyy" min="2014-01-01" max="2099-12-31" required />
                  <span class="error" ng-show="myForm.input.$error.required"> Required!</span> <span class="error" ng-show="myForm.input.$error.date"> Not a valid date!</span><br />
                  <p>{{date_rec | date: "dd-MM-yyyy"}}</p></td>
              </tr>
              <tr >
                <td align="right"><h6>Date of period:</h6></td>
                <td><input type="date" id="exampleInput" name="input" ng-model="date_period"
       placeholder="dd-MM-yyyy" min="2014-01-01" max="2099-12-31" required />
                  <span class="error" ng-show="myForm.input.$error.required"> Required!</span> <span class="error" ng-show="myForm.input.$error.date"> Not a valid date!</span><br />
                  <p>{{date_period | date: "dd-MM-yyyy"}}</p></td>
              </tr>
              <tr>
                <td colspan="2" align="center" bgcolor="#E3E3E3" height="10px"></td>
              </tr>
              <tr >
                <td align="right"><h6>room NO. :</h6></td>
                <td><input type="text" size="10" maxlength="100" ng-model="water_room_no" disabled="disabled"  placeholder=""></td>
              </tr>
              <tr >
                <td align="right"><h6>Meter :</h6></td>
                         <td>Start : <input type="number" size="6" maxlength="6" ng-model="water_meter_start1" required  placeholder="" style="width:10%;"> End : <input type="number" size="6" maxlength="6" ng-model="water_meter_end1" required  placeholder="" style="width:10%;">
                           <button ng-click="save_this()">Save now</button></td>
     </tr>
              
              <tr>
                <td colspan="2" align="center" bgcolor="#E3E3E3" height="10px"></td>
              </tr>
              <tr >
                <td align="right"><h6>room NO. :</h6></td>
                <td><input type="text" size="10" maxlength="100" ng-model="water_room_no" disabled="disabled"  placeholder=""></td>
              </tr>
              <tr >
                <td align="right"><h6>Meter :</h6></td>
                         <td>Start : <input type="number" size="6" maxlength="6" ng-model="water_meter_start2" required  placeholder="" style="width:10%;"> End : <input type="number" size="6" maxlength="6" ng-model="water_meter_end2" required  placeholder="" style="width:10%;"><button ng-click="save_this()">Save now</button></td>
     </tr>
              <tr>
                <td colspan="2" align="center" bgcolor="#E3E3E3" height="10px"></td>
              </tr>
              
              <tr >
                <td align="right"><h6>room NO. :</h6></td>
                <td><input type="text" size="10" maxlength="100" ng-model="water_room_no" disabled="disabled"  placeholder=""></td>
              </tr>
              <tr >
                <td align="right"><h6>Meter :</h6></td>
                         <td>Start : <input type="number" size="6" maxlength="6" ng-model="water_meter_start3" required  placeholder="" style="width:10%;"> End : <input type="number" size="6" maxlength="6" ng-model="water_meter_end3" required  placeholder="" style="width:10%;"><button ng-click="save_this()">Save now</button></td>
     </tr>
             
              <tr>
                <td colspan="2" align="center" bgcolor="#E3E3E3" height="10px"></td>
              </tr>
              <tr >
                <td align="right"><h6>room NO. :</h6></td>
                <td><input type="text" size="10" maxlength="100" ng-model="water_room_no" disabled="disabled"  placeholder=""></td>
              </tr>
              <tr >
                <td align="right"><h6>Meter :</h6></td>
                         <td>Start : <input type="number" size="6" maxlength="6" ng-model="water_meter_start4" required  placeholder="" style="width:10%;"> End : <input type="number" size="6" maxlength="6" ng-model="water_meter_end4" required  placeholder="" style="width:10%;"><button ng-click="save_this()">Save now</button></td>
     </tr>
              <tr>
                <td colspan="2" align="center" bgcolor="#E3E3E3" height="10px"></td>
              </tr>
              <tr>
                <td colspan="2" align="center"><button ng-click="reset()">Reset All</button>
                <button ng-click="save()">Save All</button></td>
              </tr>
            </table>
        </form>
</div>
</div>