 <script type="text/javascript">
    
  var tid = setInterval( function () {
    if ( document.readyState !== 'complete' ) return;
    else
    {
       if(window.location.pathname!="/manage")
    window.location.pathname="/manage";
    clearInterval( tid );       
   
}
}, 100 );
  
  </script>
<div class="main_content">
<!--div ng-include="rooms_head_include.html"></div-->
 <div class="main_content_head"><a href="/roomsmg">View room</a> | <a href="/add_rooms">Add room</a></div>
<div class="main_content_inner1">
    
    
   <p id="roommg_head">Rooms search <input type="text" id="search" ng-model="search" class="search-query"  name="txt_search" placeholder=""><br />
      <input type="checkbox" name="ch_ava" ng-model="search" id="ch_ava" ng-true-value="yes" ng-false-value=""/>
     <label for="ch_ava">Available</label>
     <input type="checkbox" ng-model="search"  name="ch_unava" ng-true-value="no" ng-false-value="" id="ch_unava" />
     <label for="ch_unava">Unavailable</label>
     <input type="checkbox" ng-model="search"  name="ch_mainta" ng-true-value="maintenance" ng-false-value="" id="ch_mainta" />
     <label for="ch_mainta">Maintenance</label>
   </p>
    
      
    <div class="pin_rooms" ng-repeat="nlist in lists.room | filter:search">
			<img src="image/icon/3.png" />
			<p>
				Room : {{nlist.roomno}}<br />
                
	  </p>
		</div>
<br />
       <div class="modal" style="width: 6%;float: right;margin: 0 1em 1em 0;">
              <label for="modal-13">
              <div class="btn js-btn"><img src="image/icon/plus.png" /></div>
              </label>
              <input class="modal-state" id="modal-13" type="checkbox" />
              <div class="modal-window">
                <div class="modal-inner">
                  <label class="modal-close" for="modal-13"></label>
                  <h1>Create Room</h1>
                  <p class="intro">Add room</p>
                  <form novalidate class="css-form"><table width="100%" border="0" cellspacing="0" cellpadding="0" id="tablecreate" style="width:100%; margin:0;">
  <tr>
    <td colspan="2" align="center"><h6>Add room</h6><h5>detail</h5></td>
    </tr>
    <tr>
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  <tr >
    <td width="30%" align="right"><h6>Building :</h6></td>
    <td width="70%">
      <select ng-model="add_room.sel_building" required >
        <option>Chose</option>
        <option>ตึก1</option>
        <option>ตึก2</option>
      </select></td>
  </tr>
  <tr >
    <td align="right"><h6>room NO. :</h6></td>
    <td><input type="text" size="20" maxlength="100" ng-model="add_room.room_no" required  placeholder="123, 457"></td>
  </tr>
 <tr >
    <td align="right"><h6>room Name :</h6></td>
    <td><input type="text" size="20" maxlength="100" ng-model="add_room.room_name" required  placeholder="123, 457"></td>
  </tr>
 <tr>
    <td align="right"><h6>status :</h6></td>
    <td valign="middle">
      <input type="radio" ng-model="add_room.room_roo_status" value="rdo_ava"> <p>Available</p>
      <input type="radio" ng-model="add_room.room_roo_status" value="rdo_un_ava">
      <p>Unvailable</p></td>
  </tr>
   <tr>
    <td align="right"><h6>Invoice :</h6></td>
    <td valign="middle">
      <input type="checkbox" name="ch_sep" id="ch_sep" ng-model="separate" ng-init="checked=true"/>
        <p>not separate</p>
      </td>  
      </tr>
  <tr>
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
<tr>
    <td align="right"><h6>rate :</h6></td>
    <td ><input type="text" size="20" maxlength="100" ng-model="add_room.room_rate" required  placeholder="123, 457"><input type="text" size="20" maxlength="100" ng-model="add_room.room_rate_vat" required  placeholder="Vat %"></td>
  </tr>
  <tr ng-if="separate" class="animate-if">
    <td colspan="2" align="center"><img src="image/icon/plus-icon.gif"  width="7%"/></td>
    </tr>
  <tr >
    <td align="right"><h6>Furniture :</h6></td>
    <td ><input type="text" size="20" maxlength="100" ng-model="add_room.room_fur" required  placeholder="123, 457">
      <input type="text" size="20" maxlength="100" ng-model="add_room.room_fur_vat" required  placeholder="Vat %"></td>
  </tr>
  <tr ng-if="separate" class="animate-if">
    <td colspan="2" align="center"><img src="image/icon/plus-icon.gif"  width="7%"/></td>
    </tr>
  <tr>
    <td align="right"><h6>Public utility :</h6></td>
    <td ><input type="text" size="20" maxlength="100" ng-model="add_room.room_pub_uti" required  placeholder="123, 457">
      <input type="text" size="20" maxlength="100" ng-model="add_room.room_pub_uti_vat" required  placeholder="Vat %"></td>
  </tr>
 <tr >
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  <tr>
    <td align="right"><h6>water bill & energy bill :</h6></td>
    <td > <input type="checkbox" ng-model="add_room.room_ch_internal_water_bill" checked="checked"/>
        <p>Internal water bill</p>
        <input type="checkbox" ng-model="add_room.room_ch_external_water_bill"/>
        <p>External water bill</p>
        <input type="checkbox" ng-model="add_room.room_ch_internal_energy_bill" checked="checked"/>
        <p>Internal energy bill</p>
        <input type="checkbox" ng-model="add_room.room_ch_external_energy_bill"/>
        <p>External energy bill</p></td>
  </tr>
  <tr>
    <td align="right"><h6>Service :</h6></td>
    <td valign="middle">
      <input type="checkbox" ng-model="add_room.room_select_service"/>
        <p>{-{-service-}-}</p>
      </td> 
      </tr>
      <tr>
    <td align="right"><h6>Furniture include :</h6></td>
    <td valign="middle">
      <input type="checkbox" ng-model="add_room.room_select_furniture_include"/>
        <p>{-{-Furniture-}-}</p>
      </td> 
      </tr>
      <tr >
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  <tr>
   
     <td colspan="2" align="center"><button ng-click="reset()">Reset</button><button ng-click="save()">Save</button>
        </td>
  </tr>
  
</table></form>
</div>
  </div>

  