 <script type="text/javascript">   
  var tid = setInterval( function () {
    if ( document.readyState !== 'complete' ) return;
    else
    {
       if(window.location.pathname!="/manage")
    window.location.pathname="/manage";
    clearInterval( tid );       
   
}
}, 100 );
  
  </script>
  <div class="main_content_head"><a href="/information_service">Service Information</a> | <a href="/add_service">Add service</a></div>
<form novalidate class="css-form"><table width="100%" border="0" cellspacing="0" cellpadding="0" id="tablecreate" class="ser_box" style="width: 100%;border: 0px;margin: 0em;">
  <tr>
    <td colspan="2" align="center"><h6>Service</h6><h5>detail</h5></td>
    </tr>
    <tr>
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  
  <tr>
    <td colspan="2" align="center"><h6 class="no">Service No. 1</h6><div id="minus" style="display:none;"><img src="img/icon/minus-icon.gif" class="minus_mobile"></div></td>
  </tr>
  <tr class="ser_name">
    <td width="30%" align="right"><h6>Name of Service:</h6></td>
    <td width="70%"><input type="text" placeholder="name service" ng-model="service.name_service" required /></td>
  </tr>
  <tr class="ser_fee">
    <td align="right"><h6>Fee :</h6></td>
    <td><input type="text" placeholder="" ng-model="service.fee" required /></td>
  </tr>
  <tr class="ser_tax">
    <td align="right"><h6>Tax :</h6></td>
    <td><input type="text" placeholder="" ng-model="service.fax" required /></td>
  </tr>
  <tr class="ser_detail">
    <td align="right"><h6>Detail :</h6></td>
    <td><textarea rows="6" required="required" placeholder="" ng-model="service.detail"></textarea></td>
  </tr>
  <tr class="ser_detail">
    <td></td>
    <td></td>
  </tr>
  
  <tr class="box_end">
    <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><button ng-click="back()">Back</button><button ng-click="next()">Next</button></td>
    </tr>
  
  </table></form>
  