<script type="text/javascript">   
  var tid = setInterval( function () {
    if ( document.readyState !== 'complete' ) return;
    else
    {
       if(window.location.pathname!="/manage")
    window.location.pathname="/manage";
    clearInterval( tid );       
   
}
}, 100 );
  
  </script>
<div class="main_content">
  <div class="main_content_head"><a href="/book_infomation">Booking infomation</a> | <a href="/booking">Booking</a></div>
  <div class="main_content_inner1" style="margin:0em;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="20%" align="right"><p id="roommg_head">Water search</p></td>
        <td width="60%" align="left"><input type="text" id="search" ng-model="search" class="search-query"  name="txt_search" placeholder=""></td>
        <td width="20%" align="right"><div class="modal" style="height: 100%;float: right;">
          <label for="modal-13">
          <div class="btn js-btn"><img src="image/icon/plus.png" /></div>
          </label>
          <input class="modal-state" id="modal-13" type="checkbox" />
          <div class="modal-window">
          <div class="modal-inner">
          <label class="modal-close" for="modal-13"></label>
          <h1>Booking</h1>
          <p class="intro">Add Booking</p>
          <form novalidate class="css-form" name="myForm">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tablecreate" style="width:100%; margin:0;">
              <tr>
                <td colspan="2" align="center"><h6>Add Booking</h6>
                  <h5>สำหรับลูกค้าเข้ามาจองห้องว่าง</h5></td>
              </tr>
              <tr>
                <td colspan="2" align="right" bgcolor="#E3E3E3" height="10px"></td>
              </tr>
              <tr >
                <td width="30%" align="right"><h6>Building :</h6></td>
                <td width="70%"><select ng-model="book_room.select_building" required >
                    <option>Chose</option>
                    <option>ตึก1</option>
                    <option>ตึก2</option>
                  </select></td>
              </tr>
              <tr >
                <td align="right"><h6>room NO. :</h6></td>
                <td><select ng-model="book_room.select_room" required >
                    <option>Chose</option>
                    <option>ห้อง1</option>
                    <option>ห้อง2</option>
                  </select></td>
              </tr>
              <tr >
                <td align="right"><h6>Customer Name :</h6></td>
                <td><input type="text" size="20" maxlength="100" ng-model="book_room.customer_name" required  placeholder=""></td>
              </tr>
              <tr >
                <td align="right"><h6>Customer ID :</h6></td>
                <td><input type="text" size="20" maxlength="100" ng-model="book_room.customer_id" required  placeholder=""></td>
              </tr>
              <tr >
                <td align="right"><h6>Customer address :</h6></td>
                <td><textarea cols="20" rows="6" required="required" placeholder="" ng-model="book_room.customer_address"></textarea></td>
              </tr>
              <tr >
                <td align="right"><h6>Customer Province :</h6></td>
                <td><input type="text" size="20" maxlength="100" ng-model="book_room.customer_province" required  placeholder=""></td>
              </tr>
              <tr >
                <td align="right"><h6>Customer post code :</h6></td>
                <td><input type="text" size="20" maxlength="100" ng-model="book_room.customer_post_code" required  placeholder=""></td>
              </tr>
              <tr >
                <td align="right"><h6>Customer Country :</h6></td>
                <td><input type="text" size="20" maxlength="100" ng-model="book_room.customer_country" required  placeholder=""></td>
              </tr>
              <tr >
                <td align="right"><h6>Customer Mobile no. :</h6></td>
                <td><input type="text" size="20" maxlength="100" ng-model="book_room.customer_mobile" required  placeholder=""></td>
              </tr>
              <tr >
                <td align="right"><h6>Customer Email :</h6></td>
                <td><input type="text" size="20" maxlength="100" ng-model="book_room.customer_email" required  placeholder=""></td>
              </tr>
              <tr >
                <td align="right"><h6>Customer Picture :</h6></td>
                <td><input type="file" ng-model="book_room.customer_pic" required></td>
              </tr>
              <tr>
                <td colspan="2" align="center" bgcolor="#FF6B0D" height="10px">Payment</td>
              </tr>
              <tr>
                <td align="right"><h6>Payment type :</h6></td>
                <td valign="middle"><input type="radio" ng-model="book_room.payment_type" value="rdo_cash">
                  <p>Cash</p>
                  <input type="radio" ng-model="book_room.payment_type" value="rdo_Bank">
                  <p>Bank Transfer</p>
                  <input type="radio" ng-model="book_room.payment_type" value="rdo_credit">
                  <p>Credit</p>
                  <br />
                  <input type="radio" ng-model="book_room.payment_type" value="rdo_other">
                  <p>Other</p></td>
              </tr>
              <tr >
                <td align="right"><h6>Cash amount :</h6></td>
                <td><input type="text" size="20" maxlength="100" ng-model="book_room.payment_cash_amount" required  placeholder=""></td>
              </tr>
              <tr >
                <td align="right"><h6>Remark :</h6></td>
                <td><textarea cols="20" rows="6" required="required" placeholder="" ng-model="book_room.payment_remark"></textarea></td>
              </tr>
              <tr >
                <td align="right"><h6>Date Payment :</h6></td>
                <td><input type="date" id="exampleInput" name="input" ng-model="date_val1"
       placeholder="dd-MM-yyyy" min="2014-01-01" max="2020-12-31" required />
                  <span class="error" ng-show="myForm.input.$error.required" > Required!</span> <span class="error" ng-show="myForm.input.$error.date" ng-model="date_val1"> Not a valid date!</span><br />
                  <p>{{date_val1 | date: "dd-MM-yyyy"}}</p></td>
              </tr>
              <tr >
                <td align="right"><h6>Date Transection :</h6></td>
                <td><input type="date" id="exampleInput" name="input" ng-model="date_val2"
       placeholder="dd-MM-yyyy" min="2014-01-01" max="2020-12-31" required />
                  <span class="error" ng-show="myForm.input.$error.required"> Required!</span> <span class="error" ng-show="myForm.input.$error.date"> Not a valid date!</span><br />
                  <p>{{date_val2 | date: "dd-MM-yyyy"}}</p></td>
              </tr>
              <tr>
                <td colspan="2" align="center" bgcolor="#FF6B0D" height="10px"></td>
              </tr>
              <tr>
                <td colspan="2" align="center"><button ng-click="reset()">Reset</button>
                <button ng-click="save()">Save</button></td>
              </tr>
            </table>
        </form></td>
      </tr>
    </table>
  </div>
</div>

<table class="tbr_customers" width="100%" border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <td width="5%" align="center">No.</td>
      <td width="10%" align="center" >Booking no.</td>
      <td width="10%" align="center" style="text-align:center;">Date of book</td>
      <td width="25%" style="text-align:center;">Detail</td>
      <td width="10%" style="text-align:center;">Building</td>
      <td width="10%" style="text-align:center;">Room</td>
      <td width="10%" style="text-align:center;">Cash</td>
      <td width="10%" style="text-align:center;">Remark</td>
      <td width="10%" style="text-align:center;">tools</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="center">1</td>
      <td align="center">อาคาร1</td>
      <td align="center">543</td>
      <td>นาย ฟหกด</td>
      <td align="center" valign="middle">Building1</td>
      <td align="center" valign="middle">543</td>
      <td align="center" valign="middle">8,900</td>
      <td align="center" valign="middle">remark</td>
      <td align="center" valign="middle"><img src="image/icon/print.png" width="30%" /><img src="image/icon/pencil.png" width="30%" /><img src="image/icon/remove.png" width="30%" /></td>
    </tr>
    <tr>
      <td align="center">2</td>
      <td align="center">อาคาร1</td>
      <td align="center">544</td>
      <td>นาย ่าสว</td>
      <td align="center" valign="middle">Building1</td>
      <td align="center" valign="middle">544</td>
      <td align="center" valign="middle">7,900</td>
      <td align="center" valign="middle">Remark</td>
      <td align="center" valign="middle"><img src="image/icon/print.png" width="30%" /><img src="image/icon/pencil.png" width="30%" /><img src="image/icon/remove.png" width="30%" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>